* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    padding: 10px;
}

h2 {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

p {
    margin: 10px;
    text-align: justify;
    padding: 10px;
    line-height: 1.5;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

header ul li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

header ul li a {
    text-decoration: none;
    padding: 10px;
}

header ul li a:hover, a:hover {
    color: gold;
}

.section-title h2 {
    padding: 10px;
}

#about-me div {
    display: inline-flex;
}

#about-me img {
    max-width: 20%;
}

.section-title div {
    display: inline-flex;
}

.logo-container { 
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.logo-container img {
    max-width: 200px;
    height: auto;
    padding: 10px;
}

.img-container {
    display: inline;
}

.img-container img {
    max-width: 500px;
    height: auto;
    padding: 10px;
}

.img-container img:hover {
    border: 2px solid gold;
}

.section-title img{
    width: 100%;
    height: auto;
    padding: 10px;
}

.nav-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

address {
    color: lightcoral;
    text-decoration: none;
    padding: 10px;
}

@media screen  and (max-width: 768px) {
    #about-me div {
        display: flex;
    }
}

@media screen and (max-width: 575px) {
    h1, h3 {
        text-align: center;
    }

    h2 {
        writing-mode: horizontal-tb;
        text-align: center;
    }
    
    header ul li {
        display: block;
        padding: 10px;
    }

    .section-title div {
        display: block;
    }

    .logo-container img {
        max-width: 15%;
    }

    header {
        display: inline-block;
        align-items: center;

    }

    #about-me div {
        display: block;
    }

    #about-me img {
        max-width: 100%;
    }
}